/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** Text Style *****/

  /***** Global Styles *****/

html {
    font-size: 16px;
    background: #333;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #e2e3ed;
}

ul, ol {
    list-style-type: none;
}

a {
    color: #e2e3ed;
    text-decoration: none;
    font-size: 1.125em;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.25em;
    font-weight: normal;

}

.reviews h1 {
    line-height: 1;
}

h3, h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
}

p {
    font-size: 0.875em;
    line-height: 1.285;
}

img {

}

figure {

}

address {
    font-style: normal;
}

/***** Coloring *****/

header {
    background-color: #202322;
}

.newsletter-signup {
    background-color: #527158;
}

.features {
    background-image: url("../img/rawpixel-800820-unsplash1.jpg");
    background-size: cover;
    background-position: center;
}

.reviews {
    background-color: #2a423a;
}

.faq {
    background-color: #527158;
}

.mission {
    background-color: #527158;
}

.contact-section {
    background-color: #2a423a;
}

footer {
    background-color: #202322;
}

/***** Sizing *****/

.content-wrapper {
    width: 90%;
    padding: 50px 0;
}

  /***** Header Sizing *****/

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

header a {
    padding: 14px 0;
    text-align: center;
}

header img {
    width: 60%;
}

header .header-divider {
    background: gray;
    overflow: auto;
    width: 100%;
    height: 1px;
}

header nav {
    width: 45%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 17px 0px;
}

  /***** Main Sizing *****/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

    /***** Hero Sizing *****/

main .hero-area {
    display: flex;
    justify-contents: center;
    align-items: center;
    flex-flow: column wrap;
    background-image: url("../img/jake-melara-30679-unsplash.jpg");
    background-size: cover;
    background-position: top;
    height: 500px;
    width: 100%;
}

main .hero-area h1 {
    margin: 0;
}

    /***** Newsletter Signup Sizing *****/

.newsletter-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsletter-signup .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 30px 0;
}

.newsletter-signup h3, .newsletter-signup p {
    margin: 0px;
}

.newsletter-signup p {
    margin-bottom: 9%;
}

.form-description {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    margin: 2% 0 6% 0;
}

.form input {
    width: 100%;
    margin: 2.2% 0px;
    padding: 0;
    border: 0;
}

.form h3 {
    width: 100%;
}

    /***** Feature Sizing *****/

.features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.features h1 {
    margin: 0 0 10px 0;
}

.features-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 60%;
}

.features article {
    text-align: center;
    margin: 60px 0 0 0;
}

.features p {
    margin: 0;
}

    /***** Review Sizing *****/

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .content-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.reviews h1 {
    margin: 0 0 30px 0;
}

.reviews img {
    width: 100%;
}

.reviews h3 {
    margin: 15px 0 0 0;
}
.reviews p {
    margin: 20px 0 0 0;
}

    /***** About Sizing *****/

      /***** Mission Sizing *****/

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.mission .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.mission h1 {
    margin: 0;
}

.mission p {
    margin: 10px 0 0 0;
}

      /***** Contact Sizing *****/

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.contact-section p, .contact-section h1 {
    margin: 0;
}


    /***** Faq Sizing *****/

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.faq h1, .faq p {
    margin: 0;
}

.faq .question {
    margin: 50px 0 0 0;
}

.faq h3 {
    margin: 0 0 15px 0;
}

  /***** Footer flexbox styling *****/

footer {
    padding-bottom: 20px;
}

footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 0 40px 0;
}

footer h3 {
    margin: 0 0 10px 0;
}

footer .contact address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 0 10px 0;
}

footer p, footer ul {
    margin: 0;
}

/***** Input Sizing *****/

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
}

input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /*Tablet styles here*/

    .content-wrapper {
        width: 83%;
        padding: 100px 0;
    }

      /***** Tablet Header Sizing *****/

    header .content-wrapper {
        width: 83%;
        justify-content: space-between;
        padding: 30px 0;
    }

    .header-divider {
        display: none;
    }

    header a {
        text-align: left;
        width: 50%;
        padding: 0;
    }

    header img {
        width: 68%;
    }

    header nav {
        width: 20%;
    }

    header nav ul {
        padding: 0;
    }

      /***** Tablet Main Sizing *****/

        /***** Tablet Hero Sizing *****/

    main .hero-area {
        height: 600px;
    }

    main .hero-area .content-wrapper {
        padding: 100px 0;
    }

        /***** Tablet Newsletter Signup Sizing *****/

    .newsletter-signup .content-wrapper {
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .form-description {
        box-sizing: border-box;
        padding-right: 70px;
        width: 45%;
        padding: 0;
    }

    .form {
        box-sizing: border-box;
        padding-left: 30px;
        width: 45%;
        margin: 0;
        padding: 0;
    }

        /***** Tablet Feature Sizing *****/

    .features h1 {
        width: 100%;
        text-align: left;
    }

    .features-items {
        width: 100%;
    }

    .features article {
        width: 32%;
        margin: 55px 9%;
    }

        /***** Tablet Review Sizing *****/

    .reviews article {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .reviews img {
        width: 49%;
    }

    .reviews article div {
        width: 49%;
    }

    .reviews h3, .reviews p {
        margin: 0;
    }

        /***** Tablet About Sizing *****/

          /***** Tablet Mission Sizing *****/

    .mission .content-wrapper {
        justify-content: space-between;
    }

    .mission h1 {
        margin-bottom: 40px;
    }

    .mission p {
        margin: 0;
        width: 49%;
    }

          /***** Tablet Contact Sizing *****/

    .contact-section .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        flex-flow: row wrap;
    }

    .contact-section h1 {
        width: 100%;
    }

    .contact-column {
        width: 45%;
    }

        /***** Tablet Faq Sizing *****/

    .faq .content-wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }

    .faq h1 {
        width: 100%;
    }

    .faq .question {
        flex-basis: 44%;
    }

      /***** Tablet Footer Sizing *****/

    footer .content-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    footer .contact {
        margin: 0;
    }

    .contact, .social {
        width: 50%;
    }

    .social ul {
        margin: 0;
        padding: 0;
    }

    .contact h3 {
        margin: 0 0 40px 0;
    }

    .social h3 {
        margin: 0 0 30px 0;
    }
}

@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

    .content-wrapper {
        width: 80%;
    }

      /***** Desktop Header Sizing *****/

    header .content-wrapper {
        width: 80%;
        padding: 25px 0;
    }

    header img {
        width: 59%;
    }

    header nav {
        width: 14%;
    }

      /***** Desktop Main Sizing *****/

        /***** Desktop Hero Sizing *****/

    main .hero-area h1 {
        width: 75%;
    }

    main .hero-area {
        background-position: center;
    }

        /***** Desktop Newsletter Signup Sizing *****/

    .newsletter-signup .content-wrapper {
        width: 73%;
        padding: 50px 0;
    }

    .form-description {
        width: 40%;
    }

    .form {
        width: 40%;
    }

        /***** Desktop Feature Sizing *****/

    .features article {
        width: 20%;
        margin: 55px 64px;
    }

        /***** Desktop Review Sizing *****/

    .reviews h1 {
        margin: 0 0 100px 0;
    }

    .reviews img {
        width: 48%;
    }

    .reviews article div {
        width: 48%;
    }

        /***** Desktop About Sizing *****/

          /***** Desktop Mission Sizing *****/

    .mission p {
        width: 47%;
    }

          /***** Desktop Contact Sizing *****/

    .contact-column {
        width: 47%;
    }

        /***** Desktop Faq Sizing *****/

    .faq .question {
        flex-basis: 47%;
    }

      /***** Desktop Footer Sizing *****/

    footer .content-wrapper {
        justify-content: space-between;
    }

    .contact, .social {
        width: 33.333%;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

